@charset "UTF-8";

/*-------------
	상단메뉴
---------------*/
#page_nav1 {
  align-items: center; /* 수직 가운데 정렬 */
}

#page_nav1 ul {
  list-style: none;
  display: flex; /* Flex 컨테이너로 설정 */
  padding: 0;
  margin: 50px 0 10px 0;
}

#page_nav1 ul li {
  margin-right: 20px; /* 각 아이템 간 간격 조정 */
  font-size: 20px;
}

#page_nav1 ul li:last-child {
  margin-right: 0; /* 마지막 아이템의 간격 제거 */
}

.side-bar1{
	border-bottom: 1px solid #f0f0f0;
	margin-left: 30px;
}

/* itemList_nav.jsp에서 추가한 ID 선택자를 사용하여 스타일을 적용합니다. */
#allLink.active,
#shoesLink.active,
#topsLink.active,
#bottomsLink.active,
#accessoriesLink.active {
    font-weight: bold; /* 원하는 스타일로 변경 */
}

/*-------------
	상품목록
---------------*/
form#search_form {
	margin-bottom: 20px;
}

.list01 {
	/* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 아이템을 균등하게 분배합니다
    margin-top: 10px; */
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4개의 열로 정렬 */
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;    
}

.list01 a {
	display: block;
	text-decoration: none;
}
a:hover{
	color:#000000;
}

.list02 {
	/* border: 1px solid #ccc; */
	flex-basis: calc(25% - 20px); /* 각 아이템이 컨테이너의 25% 너비를 차지하도록 설정, 간격은 20px */
    padding: 10px;
    box-sizing: border-box;
}
a img{
	width: 220px;
	height:220px;
	border-radius: 10px;
}
p {
	margin: 5px;
	padding: 0;
}
.list03 {
	padding-top: 8px;
}
.listBrand{
	display: flex;
    align-items: center;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: -.07px;
    font-weight: 700;
    
}
.itemName{
	-webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemDetail{
	-webkit-line-clamp: 1; /* 최대 3줄 표시 */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list02 span{
	display: inline-flex;
    align-items: center;
    margin: 5px;
}

/*-------------
	상세페이지
---------------*/
 
/* 공통 스타일 */


.page-main {
  margin: 30px;
}

/* 아이템 디테일 페이지 */
.itemDetailPage {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.itemDetailPage .left {
  flex: 1;
}

.left img {
  height: auto;
}

.itemDetailPage .divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.itemDetailPage .right {
  flex: 1;
  padding: 20px;
}

.itemDetailPage .title_box {
  margin-bottom: 10px;
}

.itemDetailPage .title_box .a {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.itemDetailPage .title_box .b {
  font-size: 18px;
  margin: 3px 0;
}

.itemDetailPage .title_box .c {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.itemDetailPage .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.itemDetailPage .buttons button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 48%;
  height: 50px;
}

.itemDetailPage .buttons .a {
  background-color:rgb(239, 98, 83);
  margin-right: 10px;
}

.itemDetailPage .buttons .b {
  background-color:rgb(65, 185, 121);
}

#output-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 99%;
  height: 50px;
  text-align: center;
}

.itemDetailPage .wishlist {
  font-size: 16px;
  color: #555;
  margin-left: 20px;
}

.itemDetailPage .align-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.itemDetailPage .align-right button {
  margin-left: 10px;
}
h3{
	margin-top: 30px;
}
.detail_wrap{
	border: 1px solid #ebebeb;
    border-width: 1px 0;
}
.detail_wrap dl {
  display: flex;
  justify-content: space-between;
}
.detail_wrap_one{
  	flex: 1;
  	padding-left: 0;
}
.detail_wrap_two{
	flex:1;
	border-left: 1px solid #ebebeb;
}
.detail_wrap dl dt {
  color: rgba(34, 34, 34, 0.5);
  font-size: 12px;
  letter-spacing: -0.06px;
  letter-spacing: -0.33px;
  line-height: 14px;
  margin-left: 10px;
}
.detail_wrap dl dd {
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px;
  word-break: break-word;
  margin-inline-start: 0;
  margin-left: 10px;
}
.detail_wrap2{
	border-bottom: 1px solid #ebebeb;
    border-width: 1px 0;
}
.addbnf{
	display: flex;
    line-height: 23px;
    margin-bottom: 10px;
}
.addbnf p{
	margin-right: 25px;
}
.deliveryinfo{
	margin-bottom: 25px;
	display: flex;
}
.deliveryinfo div{
	margin-left: 25px;
	color: rgba(34,34,34,.5);
}
.deliveryinfo b{
	font-size: 16px;
	color: #000;
}
.Grinninfo{
	color: rgba(34,34,34,.5);
	margin-top:20px; 
}

/* 구매 전 확인해주세요! */
.accordion {
	background-color: #FFF;
	color: #000;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: .4s;
	padding: 18px;
}

.active, .accordion:hover {
	font-weight: bold;
}

.accordion:after {
	content: '\00276F'; /*❯*/
	float: right;
	margin-left: 5px;
	transform: rotate(90deg);
}

.active:after {
	content: "\00276F";
	transform: rotate(270deg);
}
.panel {
	background-color: #FFF;
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease-out;
	padding: 0 18px;
	line-height: 23px;
	border-bottom: 1px solid #ebebeb;
}
.p-hide {
	display: none
}
.p-show {
	display: block
}
/*-------------
	후기 폼
---------------*/
.reviewForm{
	justify-content: center;
	display: grid;
	margin-bottom: 20px;
}
.reviewForm div{
	width:800px;
	border: 1px solid #ebebeb;
	background-color: #ebebeb;
	border-radius: 5px;
	display: flex;
  	align-items: center;
}
.reviewForm img{
	border-radius: 8px;
}
.reviewForm .a{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.reviewForm .b{
	font-size: 16px;
	color:#878787;
}
#itemReview fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#itemReview fieldset legend{
    text-align: right;
}
#itemReview input[type=radio]{
    display: none;
}
#itemReview fieldset label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#itemReview label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#itemReview label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#itemReview input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#itemReview{
	margin: 0;
	width: auto;
	border-top: 1px solid #ebebeb;
	border-bottom:none;
	border-left: none;
	border-right: none;
}
#itemReview ul{
	padding-left: 10px;
}
.page-main1{
	justify-content: center;
	display: grid;
}
#itemReview textarea{
	resize:none;
	box-shadow: 1px 1px #ebebeb;
	border-radius: 5px;
}
#itemReview .bb{
	display: flex; /* Flex 컨테이너로 설정 */
  justify-content: space-between;
}
#itemReview .aa{
	display: inline-block;
}
.reviewButton{
	text-align: right;
  	display: inline-block;
	margin-top:60px;
}
.reviewButton input{
	width: 100px;
    height: 40px;
    margin-left: 10px;
    font-size: 15px;
}
.aa .camera{
	width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #d3bb72;
    position: relative;
    top: -40px;
    left: 55px;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 7px 0 0 6px;
}