@charset "UTF-8";

/*-------------
	상단메뉴
---------------*/
#page_nav1 {
  align-items: center; /* 수직 가운데 정렬 */
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
}

#page_nav1 ul {
  list-style: none;
  display: flex; /* Flex 컨테이너로 설정 */
  padding: 0;
  margin: 50px 0 10px 0;
}

#page_nav1 ul li {
  margin-right: 20px; /* 각 아이템 간 간격 조정 */
  font-size: 20px;
}

#page_nav1 ul li:last-child {
  margin-right: 0; /* 마지막 아이템의 간격 제거 */
}

.side-bar1{
	margin-bottom: 10px;
	margin-left: 30px;
}

/* .tab {
    display: flex;
    background-color: #f0f0f0;
}
 */
.tab-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    font-size: 15px;
}

.tab-link.active {
    font-weight: bold;
    font-size: 17px;
    border-bottom: 2px solid #000;
}

/*-------------
	상품목록
---------------*/
form#search_form {
	margin-bottom: 20px;
}

.list01 {
	/* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 아이템을 균등하게 분배합니다
    margin-top: 10px; */
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4개의 열로 정렬 */
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;    
}

.list01 a {
	display: block;
	text-decoration: none;
}
a:hover{
	color:#000000;
}

.list02 {
	/* border: 1px solid #ccc; */
	flex-basis: calc(25% - 20px); /* 각 아이템이 컨테이너의 25% 너비를 차지하도록 설정, 간격은 20px */
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px;
}
.list02 a img{
	width: 220px;
	height:220px;
	border-radius: 10px;
}
.list02 p {
	margin: 5px;
	padding: 0;
}
.list03 {
	padding-top: 8px;
}
.listBrand{
	display: flex;
    align-items: center;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: -.07px;
    font-weight: 700;
    
}
.itemName{
	-webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
    margin-bottom: 4px;
    font-size: 14px;
}
.itemDetail{
	-webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #b0abab;
    width: 220px;
    margin-top: 0;
}
.list02 span{
	display: inline-flex;
    align-items: center;
    margin: 5px;
}
.list02 .sale span{
	font-weight: bold;
	margin-top: 10px;
    font-size: 14px;
    margin-bottom: 3px;
}
.list02 .sale p{
	font-size: 12px;
    color:#b0abab;
    margin-top: 0;
}
.item-name-cell {
	max-width: 270px; /* 최대 너비를 지정하세요 */
}
.brand-name-cell{
	max-width:30px;
}
.striped-table td{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.striped-table .z{
	font-size: 13px;
}
.delete-btn{
	cursor: pointer;
}
/*-------------
	상세페이지
---------------*/

/* 공통 스타일 */
.page-main {
  margin: 30px;
}
/* 상품 사이즈 모달창 */
#btnWrap * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#popupBtn {
	background-color: #FFF;
	color: #000;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 15px;
	display: flex;
	align-items: center;
}
.oneSize{
	font-size: 17px;
    font-weight: bold;
}
#popupBtn span{
	margin-right: 10px;
    font-size: 17px;
    font-weight: bold;
}

#popupBtn:after {
	content: '\00276F'; /*❯*/
	float: right;
	margin-left: 5px;
	transform: rotate(90deg);
	margin-top: 0;
}

#modalWrap {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	display: none;
}

#modalBody {
	width: 500px;
	height: 300px;
	padding: 30px 30px;
	margin: 100px auto;
	border: 1px solid #777;
	background-color: #fff;
}

#closeBtn {
	float: right;
	font-weight: bold;
	color: #777;
	font-size: 25px;
	cursor: pointer;
}
/* 모달 내부 */
.size-select h2{
	margin-top: 10px;
}
.select-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	padding: 0;
}
.select-list button{
	background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 52px;
    overflow: hidden;
    vertical-align: top;
    width:100%;
    margin-bottom: 10px;
}
.select-size .price {
    margin-top: 10px; /* Add margin at the top */
}
/* 아이템 디테일 페이지 */
.itemDetailPage {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.itemDetailPage .left {
  flex: 1;
  position: sticky;
  top: 100px; /* .right의 padding 값에 맞게 조정하세요 */
  height: calc(100vh - 200px); /* 화면 높이에서 위 아래 패딩값 빼기 */
  overflow: auto;
}

.left img {
  height: auto;
}

.itemDetailPage .divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.itemDetailPage .right {
  flex: 1;
  padding: 20px;
}

.tradeInfo{
	font-weight: bold;
	font-size: 20px;
}


.itemDetailPage .title_box {
  margin-bottom: 10px;
}

.itemDetailPage .title_box .a {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.itemDetailPage .title_box .b {
  font-size: 18px;
  margin: 3px 0;
}

.itemDetailPage .title_box .c {
  font-size: 14px;
  color: #777;
  margin: 0 0 30px 0;
}

.itemDetailPage .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.itemDetailPage .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.itemDetailPage .buttons button {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: calc(50% - 5px); /* 2개 버튼의 간격을 띄우기 위한 계산 */
  height: 60px;
}

.itemDetailPage .buttons .a {
  background-color: rgb(239, 98, 83);
}

.itemDetailPage .buttons .b {
  background-color: rgb(65, 185, 121);
}

.itemDetailPage .buttons button div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
}

.itemDetailPage .buttons button div:first-child {
  margin-bottom: 5px;
}

.itemDetailPage .buttons .c {
  font-size: 16px;
}
.itemDetailPage .buttons .d {
  font-size: 11px;
}

#output-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 99%;
  height: 50px;
  text-align: center;
}

.itemDetailPage .wishlist {
  font-size: 16px;
  color: #555;
  margin-left: 20px;
}

.itemDetailPage .align-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.itemDetailPage .align-right button {
  margin-left: 10px;
}
h3{
	margin-top: 30px;
}
.detail_wrap{
	border: 1px solid #ebebeb;
    border-width: 1px 0;
}
.detail_wrap dl {
  display: flex;
  justify-content: space-between;
}
.detail_wrap_one{
  	flex: 1;
  	padding-left: 0;
}
.detail_wrap_two{
	flex:1;
	border-left: 1px solid #ebebeb;
}
.detail_wrap dl dt {
  color: rgba(34, 34, 34, 0.5);
  font-size: 12px;
  letter-spacing: -0.06px;
  letter-spacing: -0.33px;
  line-height: 14px;
  margin-left: 10px;
}
.detail_wrap dl dd {
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px;
  word-break: break-word;
  margin-inline-start: 0;
  margin-left: 10px;
}
.detail_wrap2{
	border-bottom: 1px solid #ebebeb;
    border-width: 1px 0;
}
.addbnf{
	display: flex;
    line-height: 23px;
    margin-bottom: 10px;
}
.addbnf p{
	margin-right: 25px;
}
.deliveryinfo{
	margin-bottom: 25px;
	display: flex;
}
.deliveryinfo div{
	margin-left: 25px;
	color: rgba(34,34,34,.5);
}
.deliveryinfo b{
	font-size: 16px;
	color: #000;
}
.Grinninfo{
	color: rgba(34,34,34,.5);
	margin-top:20px; 
}

/* 구매 전 확인해주세요! */
.accordion {
	background-color: #FFF;
	color: #000;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: .4s;
	padding: 18px;
}

.active, .accordion:hover {
	font-weight: bold;
}

.accordion:after {
	content: '\00276F'; /*❯*/
	float: right;
	margin-left: 5px;
	transform: rotate(90deg);
}

.accordion.active:after {
	content: "\00276F";
	transform: rotate(270deg);
}
.panel {
	background-color: #FFF;
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease-out;
	padding: 0 18px;
	line-height: 23px;
	border-bottom: 1px solid #ebebeb;
}
.p-hide {
	display: none
}
.p-show {
	display: block
}
/*-------------
	후기목록
---------------*/
.detail-info input{
	border: none;
    margin-left: 10px;
    background: none;
    width: 30px;
    height: 20pxpx;
    margin-top: 8px;
}
.item{
	border-bottom: 1px solid rgb(168, 168, 168);
}
.item-i{
	margin: 5px;
	justify-content: space-between;
	display:flex;
	position:relative;
}
.sub-item p{
	font-size: 16px;
    margin: 5px 0 10px 0;
}
.sub-item .star{
	color: #dbdb00;
	margin: 0;
}
.detail-info .name{
	margin-top: 10px;
	font-size: 13px;
}
/* .reviewImg{
	margin: 8px;
	width:100px;
	height:100px;
	justify-content: center;
} */
.modify-date{
	margin-bottom: 5px;
}
.divImg{
	position: relative;
}
.reviewImg {
	width: 100px;
	height:100px;
	cursor: pointer;
	transition: 0.3s;
	margin: 8px;
	justify-content: center;
}
.searchImg{
	width: 20px;
    height: 20px;
    position: absolute;
    top: 88px;
    right: 12px;
    background-color: #e6e6e6;
    border-radius: 5px;
}
/* 이미지 클릭 시, 밝기 조절 */
.reivewImg:hover {
	opacity: 0.8;
}

.modal {
	display: none; /* 모달창 숨겨 놓기 */
	position: fixed;
	z-index: 1; /* 모달창을 제일 앞에 두기 */
	padding-top: 100px;
	left: 0;
	top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto; /* 스크롤 허용 auto */
	cursor: pointer; /* 마우스 손가락모양 */
	background-color: rgba(0, 0, 0, 0.8);
}
/* 모달창 이미지 */
.modal_content {
	margin: auto;
	display: block;
	width: auto;
	height: auto;
	/* max-width: 1000px; */
	animation-name: zoom;
	animation-duration: 0.8s;
}
/* 모달창 애니메이션 추가 */
@keyframes zoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}
/* 닫기 버튼 꾸미기 */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/*-------------
	후기작성/수정 폼
---------------*/
.reviewForm{
	justify-content: center;
	display: grid;
	margin-bottom: 20px;
}
.reviewForm div{
	width:800px;
	border: 1px solid #ebebeb;
	background-color: #ebebeb;
	border-radius: 5px;
	display: flex;
  	align-items: center;
}
.reviewForm img{
	border-radius: 8px;
}
.reviewForm .a{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.reviewForm .b{
	font-size: 16px;
	color:#878787;
}
#itemReview fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#itemReview fieldset legend{
    text-align: right;
}
#itemReview input[type=radio]{
    display: none;
}
#itemReview fieldset label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#itemReview label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#itemReview label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#itemReview input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#itemReview{
	margin: 0;
	width: auto;
	border-top: 1px solid #ebebeb;
	border-bottom:none;
	border-left: none;
	border-right: none;
}
#itemReview ul{
	padding-left: 10px;
}
.page-main1{
	justify-content: center;
	display: grid;
}
#itemReview textarea{
	resize:none;
	box-shadow: 1px 1px #ebebeb;
	border-radius: 5px;
}
#itemReview .bb{
	display: flex; /* Flex 컨테이너로 설정 */
	justify-content: space-between;
}
#itemReview .aa{
	display: inline-block;
}
.reviewButton{
	/* text-align: right;
  	display: inline-block;
	margin-top:60px; */
	display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reviewButton div{
	display: flex;
    align-items: center;
}
.reviewButton input{
	width: 100px;
    height: 40px;
    margin-left: 10px;
    font-size: 15px;
}
.aa .camera{
	width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #d3bb72;
    position: relative;
    top: -40px;
    left: 55px;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 7px 0 0 6px;
}