@charset "UTF-8";



/* 전체 레이아웃
------------------------*/
#main{
	width:1200px;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
#main_header{
	margin-bottom:10px;
	padding:0 10px 0 0;
}
#main_body{
	padding:150px 0px 30px 0px;
	min-height:500px;
} 
#page_nav{
	padding-top: 160px;
}
#page_body{
	padding-top: 160px;
}
/*
#main_footer{
	background-color:yellow;
}
*/
#service_area h3{
	display: inline-block;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#999999;
}
/* 좌측 메뉴 레이아웃(Admin,MyPage)
------------------------*/
#page_nav{
	float:left;
	width:15%;
	min-height:600px;
}
#page_body{
	width:75%;
	float:left;
}
.page_clear{
	clear:both;
}
/* 페이지 기본 레이아웃
------------------------*/
.page-main{
	width:98%;
	margin:0 auto;
}
.page-one{
	width:600px;
	margin:0 auto;
}
/* 공통 메시지 및 버튼
------------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;
}
.error-color{
	color:#ff0000;
}
.default-btn{
	padding:5px 20px;
	border:1px solid #09aa5c;
	border-radius:2px;
	color:#fff;
	background-color:#09aa5c;
	font-weight:bold;
	cursor:pointer;
}
.default-btn:hover{
	background-color:#fff;
	color:#09aa5c;
	transition:0.2s ease-out;
}
/* 공통 정렬
------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
/* 상단 메뉴
------------------------*/
div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}
/* 메인
------------------------*/

/* 공통 등록, 수정 폼
------------------------*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 30px 10px;
}
form ul li{
	clear:both;
}
form ul li label{
	width:100px;
	float:left;
}
ul{
	list-style:none;
}
input{
	padding:5px;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:350px;
}
button[type="submit"]{
	height:31px;
}
/* 회원가입 등록, 수정, 삭제 폼
------------------------*
/*
#member_register{
	width:800px;
}
#member_register ul, #member_modify ul{
	padding-left:120px;
}
#member_register ul li label{
	padding-top:6px;
}
#member_register input[id="id"]{
	width:236px;
}
#member_register input[id="zipcode"], 
                      #member_modify input[id="zipcode"]{
	width:220px;
}
#member_modify{
	width:96%;
}
#member_delete input[id="id"], #member_delete input[id="passwd"]{
	width:240px;
}
*/
/* 로그인 */
/*
#member_login{
	width:400px;
	padding:0;
	border:none;
}
#member_login li{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.25rem 0.65rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
          .floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;          
}
.floating-label > .form-input:focus + label,
    .floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);    
}
#member_login .login-btn{
	width:320px;
}
#member_login label[for="auto"]{
	width:200px;
	padding:0 0 5px 0;
}
*/
/* Admin, MY페이지 공통
------------------------*/
.side-bar ul{
	margin:0;
	padding:0;
}
.side-bar ul li{
	padding:5px 10px 5px 10px;
}
.size-bar ul li img{
	margin-left:3px;
}
.side-height{
	/*사이드바의 높이가 컨텐트의 높이와 동일하게 
	  자동 조절하기 위해 흘러넘친 배경색은 숨김*/
	overflow:hidden;
	margin-bottom:10px;	  
}
.menu-btn{
	font-size:12pt;
	/*background-color:#fcfcfc;
	border-color:#b7b5b5;
	border-radius:5px;*/
}
/* MY페이지
------------------------*/
.camera{
	width:50px;
	height:50px;
	border-radius:100%;
	background-color:#d3bb72;
	position:relative;
	top:-60px;
	left:140px;
	border:2px solid #fff;
	cursor:pointer;
	padding:13px 0 0 10px;
}
.my-photo{
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}
/* 공통 목록
------------------------*/
form#search_form{
	width:98%;
	padding-bottom:0;
	border:none;
}
ul.search{
	width:380px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
ul.search li select{
	height:30px;
}

ul li.header{
	display : flex;
}

.list-space{
	width:700px;
	margin:10px auto;
}
table.basic-table{
	width:100%;
	margin:7px 0;
	border:1px solid #000;
	border-collapse:collapse;
}
table.basic-table td, table.basic-table th{
	border:1px solid #000;
	padding:5px;
}
table.striped-table{
	border:1px #FFF solid;
	font-size:15px;
	width:100%;
	border-collapse:collapse;
	margin:7px 0;
}
table.striped-table td, table.striped-table th{
	padding:.7em .5em;
	vertical-align:middle;
}
table.striped-table th{
	font-weight:bold;
	background:#E1E1E1;
}
table.striped-table td{
	border-bottom:1px solid rgba(0,0,0,.1);
}
table.striped-table tr:nth-child(odd){
	background-color:rgb(250,250,247);
}
/* 게시판 목록
------------------------*/
form#search_form #order{
	height:32px;
}
/* 게시판 폼
------------------------*/

/* 게시판 글 상세
------------------------*/
ul.detail-info{
	list-style:none;
	margin:0;
	padding:0;
}
ul.detail-info li{
	margin:0;
	padding-top:5px;
	display:inline-block;
}
ul.detail-info li:last-child{
	vertical-align: top;
}
.detail-img{
	max-width:500px;
}
.detail-content img{
	max-width:940px;
}
#output_fav, .output_rfav{
	cursor:pointer;
}
#output_fcount{
	width:50px;
	display:inline-block;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#EEEEEE;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color: #000;
	font-size: 12pt;
	line-height: 200%;
}
span.letter-count{
	font-size: 10pt;
	color: #999;
}
textarea.rep-content{
	width: 90%;
	height: 50px;
	margin: 10px 10px;
}
div#re_first, div#mre_first{
	float: left;
	width: 70%;
	padding-left: 15px;
	margin-bottom: 10px;
}
div#re_second, div#mre_second{
	float: left;
	width: 19%;
	margin-bottom: 10px;
}
div#loading{
	width: 100px;
	height: 50px;
	/* 정중앙에 div를 배치하기 위한 설정 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/* 하위 요소를 수직으로 쌓을 수 있는 공간을 만듬 */
	display: flex;
	/* 세로 정렬 */
	align-items: center;
	/* 가로 정렬 */
	justify-content: center;
}
div.paging-button{
	text-align: right;
}
div#output{
	clear: both;
}
form#mre_form{
	border: none;
	margin: 5px;
}

/*===================
====== HEADER =======
header.css
====================*/

#layout{
	opacity: 1;
}
.header {
    background-color: #fff
}

.header.fixed{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000
}

.header.no_line {
    box-shadow: 0 0 0 0 transparent!important
}

.notice+.header {
    top: 32px
}

.has_tab .header {
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1)
}

.header>:not(.portal_target) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px
}

.header_top .top_inner{
	display: flex;
    padding: 12px 40px 0;
    height: 22px;
}
.header_top .top_list{
	display: flex;
    align-items: center;
    margin-left: auto;
}
.top_inner ul{
	list-style: none;
	padding: 0;
	display: flex;
}
.top_inner li{
	margin-right: 10px;
}
.top_list li:last-child{
	margin-right: 0;
}
.top_item li{
	list-style: none;
}
.header_top .top_link{
	display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.8);
}
.top_link a, a:hover{
	text-decoration: none;
}


.header_main{
	display: flex;
	justify-content: flex-end;
}
.main_inner{
	display: flex;
    padding: 10px 40px;
    height: 45px;
    width:1200px;
    justify-content: space-between;
}
.main_inner h1{
	margin: 0;
	padding: 0;
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.logo{
	display: flex;
	font-family: 'LeferiPoint-BlackObliqueA';
    font-weight: normal;
    font-style: normal;
}
h1 a{
	text-decoration: none;
	color: inherit;
}
.main_inner .right{
	display: flex;
	flex-shrink: 0;
    min-width: 120px;
    justify-content: flex-end;
}
.main_inner .center{
	align-items: center;
    display: flex;
    margin: 0 20px;
    max-width: 466px;
}
.gnb_area{
	display: flex;
    align-items: center;
    margin-left: auto;
}
.gnb ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.gnb li{
	padding: 0;
	padding-right: 10px;
	margin-right: 10px;
	text-align: -webkit-match-parent;
}
.gnb li:last-child{
	margin-right: 0;
}
.gnb_item .gnb_link{
	position: relative;
    display: flex;
    font-size: 17px;
    letter-spacing: -.27px;
}
.gnb_item a {
    color: #333;
    text-decoration: none;
    font-weight : 0.2s;
}
.gnb_item.active a {
	font-weight: bold;
}
.gnb_list a{
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,.1);
}


/* 검색창 변경 가능 */
/*
.search_btn_box{
	display: flex;
}
*/
.gnb_list li.selected a:visited{
	font-weight: bold;
}
input[type="search"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 11px;
  height: 21px;
}
input[type="search"]:focus {
  border-color: rgb(89, 179, 246);
  box-shadow: 0 0 5px rgba(89, 179, 246, 0.5);
}


/*=============================
portal_target vue-portal-target
==============================*/

.portal_target vue-portal-target{
	box-sizing: boarder-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: relative;
}
.portal_target vue-portal-target nav{
	/* nav 겹침 */
	display: block;
	/* 이 친구도 겹침 */
	box-sizing: boarder-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
nav.tabs{
	/* 카테고리 밑 라인 */
	/*
	border-bottom: 0.1px solid rgb(200, 199, 201);
	*/
	width: 100%;
}
.ul_tab .home_tabs.inline{
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    display: flex;
    flex-wrap: nowrap;
    height: 44px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 16px;
    padding-right: 16px;
    scrollbar-width: none;
    width: 100%;
    flex: 0 0 auto;
}
.ul_tab .home_tabs.inline::after{
	content: "";
    padding-right: 16px
}
.ul_tab .home_tabs.inline::-webkit-scrollbar {
    background: transparent;
    display: none;
    height: 0;
    width: 0
}
.ul_tab.justified {
    display: flex;
    height: 45px;
    padding-left: 0;
    padding-right: 0
}

.ul_tab .home_tabs.inline .li_tab {
    display: inline-flex
}

.ul_tab .home_tabs.inline .li_tab+.li_tab {
    margin-left: 27px
}

.ul_tab.justified .li_tab {
    flex: 1
}

.tab {
    border-bottom: 2px solid #222;
    color: #222;
    cursor: pointer;
    position: relative
}

.tab.active {
    font-weight: 700
}

.tab:not(.active) {
    border-bottom-color: transparent!important
}

.ul_tab.inline .tab {
    display: inline-flex;
    height: 100%;
    padding-bottom: 6px;
    padding-top: 15px
}

.ul_tab.justified .tab {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.tab_name {
    background-color: #fff;
    line-height: 20px;
    position: relative;
    font-size: 15px;
}

.updated .tab_name::after {
    background-color: #ef6253;
    border-radius: 5px;
    content: "";
    height: 5px;
    position: absolute;
    right: -7px;
    top: 0;
    width: 5px
}

.ul_tab.inline .tab_name {
    font-size: 16px;
    line-height: 1.25
}

.ul_tab.justified .tab_name {
    font-size: 14px;
    line-height: 1.2142857143
}

.lg .notification_tabs,
.md .notification_tabs {
    padding-left: 24px!important;
    padding-right: 24px!important
}






/*===================
====== MAIN =======
====================*/














/*===================
====== FOOTER =======
====================*/
.service_area{
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.service_title{
	display: inline-flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: -.16px;
    font-weight: 700;
}
.service_time{
	padding-top: 3px;
}
.time_box{
	line-height: 17px;
}
dl{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.time_term{
	max-width: 263px;
	margin-right: 4px;
	float: left;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.5);
    max-width: 263px;
    line-height: 20px;
    margin-bottom: 10px;
}
dt{
	margin: 0;
	padding: 0;
}
.service_btn_box .btn{
	border-radius: 0;
	background-color: #000;
    color: #fafafa;
}
.solid{
	font-weight: 700;
	background-color: #222;
}
.small{
	font-size: 12px;
    letter-spacing: -.06px;
    padding: 0 14px;
    height: 34px;
}
.btn{
	display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: rgba(34,34,34,.8);
    background-color: #fff;
}
.footer_menu{
	display: flex;
}
.menu_box{
	width: 160px;
}
.menu_box li a{display: block;
    padding: 5px;
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}
.menu_title{
	font-size: 16px;
    letter-spacing: -.16px;
}
.menu_title_bottom{
	margin-top: 8px;
}
strong{
	font-weight: bold;
}
.menu_box li,
.menu_box ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer_menu ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.menu_link{
	display: inline-block;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.5);
}

.corporation_area{
	padding-top: 30px;
}
.corporation_area p,
.notice_area p{
	color : #ccc;
}




















