@charset "UTF-8";
/*플리마켓 메인
-------------------------*/
.selectMarket{
	height:300px;
	width:350px;
}
.selectMarket a:hover{
	text-decoration:none;
	color:#000000;
}
.booth-res{
	float:left;
	margin:0 20px;
}
.user-res{
	float:left;
	margin:0 20px;
}
.market-font{
	font-size:25px;
	text-align:center;
	margin-top:150px;
}  