@charset "UTF-8";
/*플리마켓 메인
-------------------------*/
.selectMarket{
	height:300px;
	width:350px;
}
.selectMarket a:hover{
	text-decoration:none;
	color:#000000;
}
.booth-res{
	float:left;
	margin:0 20px;
}
.user-res{
	float:left;
	margin:0 20px;
}
.market-font{
	font-size:25px;
	text-align:center;
	margin-top:150px;
}  

/*폼
-------------------------*/
.register-label li label{
	margin-top:8px;
}
.check-label{
	margin-top:0;
}

/*예약 메인
-------------------------*/
.selectMarket-wrap{
	margin:100px 0 0 60px;
	min-height:700px;
}
.user-wrap{
	width:500px;
	height:350px;
	float:left;
	position:relative;
	margin:0 25px 25px 0;
}
.user-wrap img{
	width:100%;
	height:auto;
	vertical-align:middle;
	opacity:0.3;
	position:absolute;
	transition:all 3s .25s ease;
	overflow:hidden;
}
.user-wrap:hover img{
	transform:scale(1.2);
}
.market-font{
	text-align:center;
	position:absolute;
	width:500px;
}
.market-font b{
	font-size:35px;
}
/*플리마켓 목록
-------------------------*/
.thumbNail img{
	width:240px;
	height:auto;
	margin-top:15px;
}
.market-list td{
	height:112px;
}
.market-title{
	width:300px;
	margin: 20px 0 0 40px;
	position:relative;
}
.market-date{
	width:180px;
	font-size:15px;
	line-height:20px;
	color:#999;
	text-align:center;
}
.market-place{
	font-size:15px;
	line-height:20px;
	color:#999;
	text-align:center;
}
/*플리마켓 상세
-------------------------*/
.flea-info{
	font-size:20px;
	margin-left:30px;
	padding-bottom:20px;
}
.market-image{
	float:left;
	margin:10px 30px 40px 30px;
}
.market-detail{
	float:left;
	padding-top:10px;
}
#market_cart{
	border:none;
}
.market-section{
	clear:both;
}
.flea-title{
	font-size:28px;
	font-weight:bold;
	padding:5px 0 20px 0;
}
.flea-date{
	font-size:20px;
	font-style:italic;
	padding-bottom:30px;
	border-bottom:1px solid #eee;
}
.flea-detail{
	font-size:18px;
	display:flex;
	margin-top:10px;
}
.flea-detail-comment1{
	margin-left:306px;
}
.flea-detail-comment2{
	margin-left:262px;
}
.flea-detail-comment3{
	margin-left:361px;
}
.flea-book{
	margin-top:20px;
}
.flea-book-btn{
	background:#eee;
	border:1px solid #eee;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}
/*예약 날짜 폼
-------------------------*/