@charset "UTF-8";
/* 관리자/이용자 - 프로모션 상세
-------------------------*/
.pro-detail{
	border-bottom:1px solid #eee;
}
.pro-detail form{
	width:97%;
	border:none;
	text-align:right;
	padding:10px;
}
.pro-title{
	font-size:25px;
	margin:5px 0 5px 40px;
}
.pro-period{
	font-size:20px;
	margin-right:25px;
}
.pro-ing{
	font-size:18px;
	margin:8px 25px 0 0;
}
#main_btn{
	width:60px;
	height:40px;
	font-weight:600;
	color:#fff;
	background-color:#222;
}
/*검색창
-------------------------*/
#keyfield{
	height:100%;
    border:none;
    font-size:15px;
}
#keyword{
	border-bottom:3px solid #000;
    border-top:none;
    border-left:none;
    border-right:none;
    margin:0 8px;
    width:350px;
    border-radius:unset;
}
input[type="image"] {
    width:20px;
    height:20px;
    padding:3px;
}
.search{
	display:flex;
	justify-content:center;
	margin:0 auto;
}
.buttons{
	float:right;
}
/*프로모션 목록
-------------------------*/
.register-btn{
	background-color:#fff;
	border:2px solid #b0abab;
	border-radius:5px;
}
.detail-btn{
	border:none;
	background-color:initial;
	font-size:15px;
	cursor:pointer;
}
.delete-btn{
	border:none;
	background-color:initial;
	font-size:15px;
	cursor:pointer;
}