@charset "UTF-8";
/* 메인
------------------------*/
.page-main{
	width:98%;
	margin:0 auto;
	height: auto;
}
#main-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
#ha {
	padding: 25px 0 16px 0;
	border-bottom: 3px solid #222;
	display: flex;
	font-size: 27px;
	margin: 0 auto;
}
#notice_title {
	padding: 17px 0 19px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ebebeb;
	cursor: pointer;
	width: 873px;
	font-size: 15px;
	letter-spacing: -.15px;
}
.container{
	height: auto;
}
/* noticeDetail
------------------------*/
.dropdown_head{/* faq도 사용*/
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 17px 0 19px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}
.dropdown_head .title_box{/* faq도 사용*/
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.title_box .date{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-bottom: 1px;
    display: inline-flex;
    font-size: 12px;
    letter-spacing: -.06px;
}
.title_box .title{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: -.15px;
}
.dropdown_content{/* faq도 사용*/
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 30px 30px 28px;
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    letter-spacing: -.21px;
    display: block;
}
.dropdown_content .content{/* faq도 사용*/
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    font-size: 14px;
    letter-spacing: -.21px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    max-width: 640px;
    word-break: break-word;
}
/* 목록보기/삭제하기/수정하기/글등록하기 버튼
------------------------*/
.btn_list{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}
.btn_list .btn_auth{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    padding: 0 18px;
    height: 42px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: -.14px;
    border: 1px solid #d3d3d3;
    color: rgba(34,34,34,.8);
}
/* noticeAuth_policy
------------------------*/
.categories{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    margin-top: 16px;
}
.category_list{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}
.category_list_items{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-feature-settings: "frac" 0,"numr" 0;
    table-layout: fixed;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}
.chunk_3{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    color: rgba(34,34,34,.5);
    text-align: center;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 18px;
    letter-spacing: -.09px;
    height: 59px;
    width: 33.3333333333%;
    cursor: pointer;    
    border-left: 0.5px solid #ebebeb;
    border-top: 0.5px solid #ebebeb;
}
#ch4,#ch5,#ch6{
	border-bottom: 0.5px solid #ebebeb;
}
#ch3, #ch6{
	border-right: 0.5px solid #ebebeb;
}
.category_link{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    letter-spacing: -.09px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-decoration: none;
    display: flex;
    height: 100%;
    align-items: center;
}
.category_text{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    letter-spacing: -.09px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 auto;
    overflow: hidden;
    word-break: keep-all;
}
.wrap{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    max-width: 640px;
    color: #222;
    font-size: 14px;
    line-height: 1.2;
    appearance: none;
    padding: 0;
}
.wrap .content{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-size: 14px;
    line-height: 1.2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}
#description_wrap{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-size: 14px;
    line-height: 1.2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 20px 0 19px;
}
/* noticeFaq
------------------------*/
.dropdown_list{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sort{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    list-style: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: -.21px;
    min-width: 68px;
    width: 68px;
}
.classOpenImg{
	width: 20px;
	height: 23px;
	margin-left: auto;
}
.classCloseImg{
	width: 20px;
	height: 23px;
	margin-left: auto;
}
.imgOpen,.imgClose{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    list-style: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    flex-shrink: 0;
    margin-left: auto;
    margin-top: 0;
}
.search_faq_div{
	background-color: #d6d6d6;
	border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 15px;
    margin: 16px 0 20px;
    width: 100%;
    height: 30px;
    margin-bottom: 16px;
    padding: 11px 30px 11px 12px;
}
.search_faq_input{
	--global-header-height: 52px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    resize: none;
    background-color: #f4f4f4;
    font-size: 15px;
}


/* notice_nav
------------------------*/

a:hover{
	text-decoration: none;
	color: black;
}
.asdsfaf{
    --global-header-height: 52px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font-feature-settings: "frac" 0,"numr" 0;
    color: #222;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    resize: none;
    background-color: #f4f4f4;
    border-radius: 8px;
    font-size: 15px;
    margin: 16px 0 20px;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 11px 30px 11px 12px;



	
}


