@charset "UTF-8";
/* 메인
------------------------*/
#ha {
	padding: 5px 0 16px;
	border-bottom: 3px solid #222;
	display: flex;
	font-size: 22px;
	margin: 0 auto;
}
#notice_title {
	padding: 17px 0 19px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ebebeb;
	cursor: pointer;
	width: 873px;
	font-size: 15px;
	letter-spacing: -.15px;
}
.category{
    letter-spacing: -.09px;
    height: 59px;
	width: 874px;
}
.category td{
	font-size: 18px;
	width: 33.333333333%;
	text-align: center;
	height: 59px;
	border: 1px solid #ebebeb;
}
.dropdown_head{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 17px 0 19px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}
.dropdown_head .title_box{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.title_box .date{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-bottom: 1px;
    display: inline-flex;
    font-size: 12px;
    letter-spacing: -.06px;
}
.title_box .title{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: -.15px;
}
.dropdown_content{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 30px 30px 28px;
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    letter-spacing: -.21px;
    display: block;
}
.dropdown_content .content{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    font-size: 14px;
    letter-spacing: -.21px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    max-width: 640px;
    word-break: break-word;
}
.btn_list{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #222;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}
.btn_list a{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    padding: 0 18px;
    height: 42px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: -.14px;
    border: 1px solid #d3d3d3;
    color: rgba(34,34,34,.8);
}