<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.MemberMapper">
	<!-- 회원가입 -->
	<insert id = "insertMember_detail" parameterType = "memberVO">
		INSERT INTO member_detail(
		  mem_num,
		  mem_name,
		  mem_passwd,
		  mem_email,
		  mem_phone,
		  mem_zipcode,
		  mem_address1,
		  mem_address2,
		  mem_photo)
		VALUES(
		  #{mem_num},
		  #{mem_name},
		  #{mem_passwd},
		  #{mem_email},
		  #{mem_phone},
		  #{mem_zipcode},
		  #{mem_address1},
		  #{mem_address2},
		  #{mem_photo})
	</insert>
	
	<!-- 회원아이디로 회원정보 체크 -->
	<select id = "selectCheckMember" parameterType = "string" resultType = "memberVO">
		SELECT
		  m.mem_num,
		  m.mem_id,
		  m.mem_auth,
		  d.au_id,
		  d.mem_passwd,
		  d.mem_email
		FROM member m LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num
		WHERE m.mem_id = #{mem_id}
	</select>
	
	<!-- 관리자 - 회원목록 보기 (검색) -->
	<sql id="memberSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					m.mem_id LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					d.mem_name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					d.mem_email LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 4">
					m.mem_id LIKE '%' || #{keyword} || '%' or
					d.mem_name LIKE '%' || #{keyword} || '%' or
					d.mem_email LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 레코드수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM member m LEFT OUTER JOIN member_detail d
		ON m.mem_num = d.mem_num
		<include refid="memberSearch"></include>                               
	</select>
	
	<!-- 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="memberVO">
		SELECT
		  *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (SELECT
		              *
		            FROM member m LEFT OUTER JOIN member_detail d
		            ON m.mem_num = d.mem_num
		            <include refid="memberSearch"></include>
		            ORDER BY d.mem_date DESC NULLS LAST)a)  
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>                                     
	</select>
</mapper>










