<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.notice.dao.NoticeMapper">
	<!-- 고객센터 글 목록 -->	
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		   COUNT(*)
		FROM notice
	</select>
	
	<insert id="insertNotice" parameterType="noticeVO">
		INSERT INTO notice (
			no_num, 
			mem_num, 
			no_title, 
			no_content, 
			no_regdate,
			no_status,
			no_category,
			no_policy) 
		VALUES (
			notice_seq.nextval,
			#{mem_num},
			#{no_title},
			#{no_content},
			SYSDATE,
			#{no_status},
			#{no_category},
			#{no_policy})
	</insert>
	
	<!-- 게시글 상세 -->
	<select id="selectNotice" parameterType="integer">
		SELECT
		  *
		FROM notice n JOIN member m
		USING(mem_num)
		WHERE n.no_num=#{no_num}
	</select>
	
</mapper>


