<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.notice.dao.NoticeMapper">
	<!-- 고객센터 전체/검색 레코드수 -->	
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		   COUNT(*)
		FROM notice
		WHERE no_status=1
	</select>
	<select id="selectRowCount_faq" parameterType="map" resultType="integer">
		SELECT
		   COUNT(*)
		FROM notice
		WHERE no_status=2
	</select>
	<select id="selectRowCount_auth" parameterType="map" resultType="integer">
		SELECT
		   COUNT(*)
		FROM notice
		WHERE no_status=3
	</select>
	
	<!-- 자주묻는질문 검색 목록 -->
	<sql id="search_faq">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					b.title LIKE '%' || #{keyword} || '%' or
					b.content LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 목록 -->
	<select id="selectFaqList">
		SELECT * FROM (SELECT a.*, rownum rnum FROM
		(SELECT no_num,
			no_title,
			no_content,
			no_category
			FROM notice
			WHERE no_status=2
			<include refid="search_faq"></include>
			)a)
			<![CDATA[
			WHERE rnum >= #{start} AND rnum <= #{end}
			]]>
	</select>
	
	<select id="selectCategoryOne">
		SELECT * FROM (SELECT a.*, rownum rnum FROM
		(SELECT no_num,
			no_title,
			no_content,
			no_category
			FROM notice
			WHERE no_status=2 and no_category=1
			<include refid="search_faq"></include>
			)a)
			<![CDATA[
			WHERE rnum >= #{start} AND rnum <= #{end}
			]]>
	</select>
	
	<insert id="insertNotice" parameterType="noticeVO">
		INSERT INTO notice (
			no_num, 
			mem_num, 
			no_title, 
			no_content, 
			no_regdate,
			no_status,
			no_category,
			no_policy) 
		VALUES (
			notice_seq.nextval,
			#{mem_num},
			#{no_title},
			#{no_content},
			SYSDATE,
			#{no_status},
			#{no_category},
			#{no_policy})
	</insert>
	
	<!-- 게시글 상세 -->
	<select id="selectNotice" parameterType="integer">
		SELECT
		  *
		FROM notice n JOIN member m
		USING(mem_num)
		WHERE n.no_num=#{no_num}
	</select>
	
</mapper>


