@charset "UTF-8";
#ha {
	padding: 25px 0 16px 0;
	border-bottom: 3px solid #222;
	display: flex;
	margin: 0 auto;
}

.categories{
	--global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    margin-top: 16px;
}
.category-list{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}
.category-list-items{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-feature-settings: "frac" 0,"numr" 0;
    table-layout: fixed;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    border: 0.5px solid #ebebeb;
    
}
.category-title{
	width: 33%;
	justify-content: center;
	flex-direction: column-reverse;
    font-size: 18px;
    height: 59px;
    cursor: pointer;
    border-left: 0.5px solid #ebebeb;
    display: inline-flex;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(34,34,34,.5);
}
#ch4,#ch5,#ch6{
	border-top: 0.5px solid #ebebeb; 
}
.category-link{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    letter-spacing: -.09px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-decoration: none;
    display: flex;
    height: 100%;
    align-items: center;
}
.category-text{
    --global-header-height: 86px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "frac" 0,"numr" 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    letter-spacing: -.09px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 auto;
    overflow: hidden;
    word-break: keep-all;
}
.trade-notice{
	margin: 60px 0 0 0;
}
.trade-notice span{
	color: #999;
	font-style:italic;
}
.real-content table{
	border: 1px #FFF solid;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
}
.real-content table th{
	font-weight: bold;
    background: #E1E1E1;
}
.real-content table th, .real-content table td{
	padding: 0.7em 0.5em;
    vertical-align: middle;
}
.real-content table tr:nth-child(odd){
	background-color: rgb(250,250,247);
}
.click-table:hover{
	cursor:pointer;
	font-weight: bold;
}




