@charset "UTF-8";

.page-size-main{
	width:98%;
	margin:0 auto;
	padding: 30px 40px;
	background-color:#fafafa;
}
.content{
	margin: 0 auto;
    max-width: 780px;
    padding: 20px 40px 160px;
}
.sale-inner{
	background-color:white;
}
.item{
	align-items: flex-start;
	display: flex;
	margin: 0 0 20px 25px;
	padding: 32px;
}
.item-profile{
	margin-right: 20px;
}
.item-info{
	margin-left: 20px;
}
.item-info p.a{
	font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    white-space:nowrap;
}
.item-info p.b{
	font-size: 14px;
    line-height: 16px;
    white-space:nowrap;
}
.item-info p.c{
	color: rgba(34,34,34,.5);
    font-size: 13px;
    letter-spacing: -.07px;
    letter-spacing: -.05px;
    line-height: 16x;
    white-space:nowrap;
}
.item-info p.d{
	font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    white-space:nowrap;
}
.price-list{
	padding: 0 32px 32px;
}
.price-list ul{
	align-items: center;
    border-top: 1px solid #ebebeb;
    display: flex;
    padding-bottom: 22px;
    padding-top: 28px;
}
.second::before{
	background-color: #ebebeb;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1px;
}
.second{
	position: relative;
}
.price-list ul li{
	flex: 1;
	text-align: center;
}
.price-list ul li p{
	color: rgba(34,34,34,.5);
    font-size: 12px;
    letter-spacing: -.06px;
    line-height: 14px;
}
.price-list ul li span{
	display: inline-block;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
}
.sale-groups{
	border-top: 8px solid #fafafa;
    padding: 32px;
}
.sale-buttons{
	position: relative;
}
.tab-list{
    display: flex;
}
ul{
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   	padding-inline-start: 10px;
}
.tab-list li{
	flex:1;
	text-align: center;
}
.tab-list li input{
	cursor:pointer;
}
.btn-bid input{
	font-size: 14px;
	letter-spacing: .15px;
    font-weight: 700;
    padding: 14px 0;
    line-height: 16px;
    width:100%;
	border: 1px solid #ebebeb;
}
.btn-direct input{
	font-size: 14px;
	letter-spacing: .15px;
    font-weight: 700;
    padding: 14px 0;
    line-height: 16px;
    width:100%;
    border: 1px solid #ebebeb;
}
#price_now dl{
	display: flex;
	justify-content: space-between;
}
.bid-input, #direct_price{
	border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.bid-input dt, #direct_price dt{
	font-size: 14px;
    font-weight: 700;
    letter-spacing: -.21px;
    min-width: 63px;
    display:block;
    margin-left:1em;
}
.bid-input dd, #direct_price dd{
	align-items: center;
    display: flex;
    margin-top: 15px;
}
.bid-input dd input{
	font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 26px;
    max-width: 200px;
    overflow: visible;
    text-align: right;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    resize: none;
}
.bid-input dd span{
	font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 26px;
}
#direct_price dd span{
	font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 26px;
}
.sale-note p{
	color: rgba(34,34,34,.5);
    font-size: 14px;
    padding-top: 10px;
}
#input_deadline{
	border-top: 8px solid #fafafa;
    padding: 32px;
    margin-top: -3px;
}
.deadline-title{
	padding-bottom: 16px;
	font-size: 14px;
	font-weight:bold;
}
#print_deadline{
	font-size: 15px;
    letter-spacing: -.15px;
}
.deadline-select{
	margin-top: 7px;
	display: flex;
    justify-content: space-between;
}
.sale-deadline{
	flex: 1;
    white-space: nowrap;
	border: 1px solid #d3d3d3;
    color: rgba(34,34,34,.8);
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
    letter-spacing: -.14px;
    padding: 0 18px;
    cursor: pointer;
    display: inline-flex;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.total-confirm{
	background-color: white;
	border-top: 1px solid #ebebeb;
	padding: 0 32px 32px;
}
.total-price{
	padding-bottom: 12px;
	padding-top: 16px;
}
.total-price dl{
	display: flex;
	justify-content: space-between;
}
.total-price dl dt{
	font-size: 13px;
}
.total-price dl dd{
	color: rgba(34,34,34,.5);
	font-size: 17px;
}
#btn_confirm input{
	border-radius: 12px;
    font-size: 16px;
    height: 52px;
    width: 100%;
    border: 0;
    cursor: pointer;
}

.delivery-info{
	background-color: #fff;
    border-top: 8px solid #fafafa;
    padding: 32px;
}
.delivery-address-title{
	align-items: center;
    display: flex;
}
.delivery-address-title h3{
	font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.delivery-address-title a{
	color: rgba(34,34,34,.5);
    font-size: 13px;
    letter-spacing: -.07px;
    margin-left: auto;
    padding-left: 2px;
    cursor: pointer;
}
.delivery-address-detail{
	padding-right: 80px;
    position: relative;
}
.info-box{
	letter-spacing: -.15px;
    line-height: 17px;
    overflow: hidden;
}
.info-box dt{
	color: rgba(34,34,34,.5);
    float: left;
    font-size: 13px;
    min-width: 80px;
}
.info-box dd{
	font-size: 14px;
    overflow: hidden;
}

.final-tradeInfo{
	background-color: #fff;
    border-top: 8px solid #fafafa;
    padding: 32px;
}
.final-order-group{
	margin: 0;
	padding: 0;
}
.final-order-title{
	display: flex;
	align-items: center;
}
.final-total-price{
	border-bottom: 0;
    border-top: 0;
    padding-top: 0;
    padding-bottom: 12px;
}
.final-total-price dt{
	font-size: 14px;
    width: 100%;
    font-weight: 700px;
}
.final-total-price dd{
	display: block;
    text-align: right;
    width: 100%;
    color:#41B979;
    margin: 0;
    padding: 0;
	font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.price-detail{
	border-top: 2px solid #ebebeb;
    margin-top: 15px;
    padding-bottom: 0;
    font-size: 13px;
    padding: 16px 0;
}
.price-detail dl{
	align-items: center;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    min-height: 26px;
}
.price-detail>dt{
	color: #222;
}
.price-detail dt{
	color: rgba(34,34,34,.5);
}
.price-detail dd{
	color: #222;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
}
.bid-deadline{
	border-top: 1px solid #ebebeb;
}
.bid-deadline dl{
	align-items: center;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    letter-spacing: -.07px;
    min-height: 26px;
}
.bid-deadline dt{
	color: #222;
}
.bid-deadline dd{
	color: #222;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
}
.check-sale{
	border-top: 2px solid #222;
    margin: 0 32px 8px;
    padding: 0;
}
.check-item{
    border-top: 1px solid #ebebeb;
	padding: 19px 0 20px;
}
.check-a{
	align-items: center;
	display: flex;	
}
.check-a:hover{
	text-decoration:none;
	cursor:pointer;
}
.check-group{
    margin-right: 20px;
}
.check-main{
	font-size: 15px;
    letter-spacing: -.15px;
    letter-spacing: -.01px;
    line-height: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:black;
}
.check-sub{
	color: rgba(34,34,34,.5);
    font-size: 13px;
    letter-spacing: -.07px;
    letter-spacing: -.05px;
    line-height: 16px;
    margin-top: 4px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.checkbox-item{
	margin-left: auto;
	font-size: 0;
    position: relative;
	color: inherit;
}
.check-detail{
	text-decoration:underline;
	color:#1d85e6;
    
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"] + label{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor:pointer;
}
input[type="checkbox"]:checked + label{
	background-color:gray;
}
.total-btn-confirm{
	padding: 0 32px 32px;
}
#btn_final_sale{
	width: 100%;
	font-size: 16px;
	height: 52px;
	border-radius: 12px;	
	border: 0;
	cursor:pointer;
}
#newForm{
	border: 0;
}
#btn_sale:hover{
	background-color:#41B979;
	color:white;
}

#modalWrap {
	background-color: rgba(34,34,34,.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
	
}
#modalBody {
 	width: 400px;
 	height: 450px;
	background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}
.modal-content{
	margin: 10px 10px;
}
.modal-detail{
	padding: 0 32px;
}
.modal-btns{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal-btns input{
	margin: 5px 0;
	background-color: #ebebeb;
	border: 0;
	cursor: pointer;
	width:50%;
}
.modal-btns input:hover:not([disabled]){
	background-color: #777;
	color: white;
}
.modal-close{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.input-box{
    position: relative;
    margin: 0;
}
.input-item{
	border-bottom: 1px solid #ebebeb;
}
.input-box .input-item{
	position: relative;
}
.input-item input[type="text"]{
	
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    padding: 8px 0;
    width: 100%;
   	-webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
}
.input-item input[type="button"]{
	bottom: 8px;
    position: absolute;
    right: 0;
    align-items: center;
    background-color: #fff;
    color: rgba(34,34,34,.8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    padding: 0 14px;
}
.modal-close{
	padding-top: 32px;
	padding: 24px 32px 32px;
}
.modal-close input[type="button"]{
	width: 120px;
	border: 1px solid #d3d3d3;
    color: rgba(34,34,34,.8);
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
    letter-spacing: -.14px;
    padding: 0 18px;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



















