<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.chatbot.dao.ChatBotMapper">

	<resultMap type="chatbotRoomVO" id="chatbotMap">
		<result property="chatbotVO.message" column="message"/>
		<result property="chatbotVO.croom_regdate" column="croom_regdate"/>
	</resultMap>
	
	<!-- 답변 키워드 받기 -->
	<sql id="keyword">
		<if test="keyword == '배송'">
			an_intent LIKE '%' || #{keyword} || '%'
		</if>
	</sql>
	
	<sql id="chatbotSub">
		FROM chatbot_room r JOIN chatbot_member m USING(croom_num)
		LEFT OUTER JOIN (SELECT
							c_num,
							<![CDATA[
							REPLACE(REPLACE(REPLACE(message,'<','&lt;'),'>','&gt;'),'@{member}@','') message,
							]]>
							croom_regdate,
							croom_num
							FROM chatbot WHERE c_num IN (SELECT
															MAX(c_num) c_num
														FROM chatbot
														GROUP BY croom_num))
		USING(croom_num)
		WHERE m.mem_num=#{mem_num}
	</sql>
	
	<!-- 챗봇방 레코드 수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*)
		<include refid="chatbotSub"></include>
	</select>
	
	<!-- 전체 챗봇방 목록 (수정필요) -->
 	<select id="selectChatBotRoomList" parameterType="map" resultMap="chatbotMap">
 		SELECT * FROM (SELECT
						*
						<include refid="chatbotSub"></include>
						ORDER BY (CASE
									WHEN croom_regdate IS NULL THEN croom_date
									ELSE croom_regdate
									END) DESC)
	</select>
	
	<!-- 챗봇 멤버 읽기 -->
	<select id="selectChatBotMember" parameterType="integer" resultType="chatbotMemberVO">
		SELECT
			mem_num, mem_id
		FROM chatbot_member JOIN member
		USING(mem_num)
		WHERE croom_num=#{croom_num}
	</select>
	
	<!-- 챗봇메세지 등록 -->
	<insert id="insertChatBot" parameterType="chatbotVO">
		INSERT INTO chatbot(
			c_num, croom_num, mem_num, message)
		VALUES (#{c_num}, #{croom_num}, #{mem_num}, #{message})
	</insert>
	
	<!-- 챗봇메세지 읽기 (수정필요) -->
	<select id="selectChatBotDetail" parameterType="integer" resultType="chatbotVO">
		SELECT
			<![CDATA[
			REPLACE(REPLACE(message, '<', '&lt;'), '>', '&gt;') message,
			]]>
			croom_regdate,
			mem_num,
			mem_id,
			c_num,
			croom_num
		FROM chatbot
		JOIN member
		USING(mem_num)
		WHERE croom_num = #{croom_num}
 		AND croom_regdate >= (SELECT
							member_date
						FROM chatbot_member
						WHERE croom_num = #{croom_num}
						AND mem_num=#{mem_num}) /*멤버 등록일 이후의 정보만 읽어옴*/
		ORDER BY croom_regdate ASC
		<include refid="keyword"></include> <!-- include는 안먹는 상태 -->
	</select>
	
	<!-- 챗봇 답변 -->
	<select id="selectChatBotAnswer" parameterType="map">
		SELECT a.an_intent, a.an_answer
		FROM chatbot c JOIN chatbot_answer a
		ON INSTR(c.message, a.an_intent) > 0
	</select>

</mapper>