.btn_top{
	background-color: #fff;
    border-radius: 30px;
    bottom: 135px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    height: 48px;
    /*padding-top: 2px;*/
    position: fixed;
    right: 24px;
    width: 44px;
    z-index: 0;
}
#floating button{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
}
/* 모달띄우기 시작 */
/* 모달 버튼(이미지) 시작 */
.btn_talk{
   background-color: #fff;
    border-radius: 30px;
    bottom: 80px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    height: 48px;
    /*padding-top: 2px;*/
    position: fixed;
    right: 24px;
    width: 44px;
    z-index: 0;
}
.btn_chatbot{
	background-color: #fff;
    border-radius: 30px;
    bottom: 24px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    height: 48px;
    /*padding-top: 2px;*/
    position: fixed;
    right: 24px;
    width: 44px;
    z-index: 0;
}
/* 모달 버튼(이미지) 끝 */
/* 모달 내용 시작 */
#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}
#modalBody {
  width: 500px;
  height: 300px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}
#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}
/* 모달 내용 끝 */
/* 모달띄우기 끝 */
/*
.ico-top{
	filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg) brightness(94%) contrast(94%);
	height: 24px;
	width: 24px;
}
*/

