.page-main{
	width:100%;
	margin:0 auto;
}
/* 카테고리 목록 속성 */
.ul_tab {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    padding: 0;
}
/* 카테고리 사이 간격 */
.ul_tab li{
    padding-right: 18px;
    
}
.ul_tab li:last-child{
    padding-right: 0px;
    
}
/* 카테고리 속성 */
.tab_name {
    background-color: #fff;
    line-height: 20px;
    position: relative;
    font-size: 15px;
}