div{
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	overflow: hidden;
}
/*
.home_card_list{
	margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.banner_slide{
	margin-left: calc(50% - 50vw);
    width: 100vw;
    max-height: 480px;
    overflow: hidden;
    position: relative;
}
*/

/*=================
====== SLIDE ======
===================*/

.swiper-container{
	width: 100%;
}
/*
.swiper-slide{
	width: 100%;
	height: 800px;
	background-color: #fff;
}
*/


/* 임시로 지정한 container와 banner 사이 간격 */
.collection{
	padding: 20px 0;
}

.collection_items{
	/**/padding-left: 40px;
	/**/padding-right: 40px;
	grid-row-gap: 12px;
    /* original */
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 12px;
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
	/* row-gap: 16px; */
}
.collection_item{
	cursor: pointer;
	/* 가로 배치 */
    display: inline-block;
    text-align: center;
}
.item_img{
	border-radius: 10px;
	height: 100px;
	position: relative;
}
.item_title{
	color: #333;
	font-size: 15px;
	letter-spacing: -.15px;
    margin-top: 8px;
}
.collection_items p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.collection_items img{
	border: none;
	display: flex;
}
.item_img_bg{
	border-radius: 9px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}









