h2{
	text-align: center;
}
.success-btn {
  display: block;
  width: 370px;
  padding: 10px;
  background-color: rgb(205, 204, 206);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 14px;
  margin: 0 auto;
  
}
.success-btn:hover {
  background-color: #000;
}
.accessMsg {
	text-align: center;
	color: #ccc;
	font-size: 40px;
}