<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.style.dao.StyleMapper">
	<!-- 스타일 작성 -->
	<insert id="insertStyle" parameterType="styleVO">
		INSERT INTO style
		(st_num,
		st_phrase,
		st_photo1n,
		<if test="st_photo2n != null and st_photo2n != ''">
			st_photo2n,
		</if>
		<if test="st_photo3n != null and st_photo3n != ''">
			st_photo3n,
		</if>
		<if test="st_photo4n != null and st_photo4n != ''">
			st_photo4n,
		</if>
		st_photo1,
		<if test="st_photo2 != null and st_photo2 != ''">
			st_photo2,
		</if>
		<if test="st_photo3 != null and st_photo3 != ''">
			st_photo3,
		</if>
		<if test="st_photo4 != null and st_photo4 != ''">
			st_photo4,
		</if>
		mem_num
		<if test="item_num1 != null and item_num1 != ''">
			,item_num1
		</if>
		<if test="item_num2 != null and item_num2 != ''">
			,item_num2
		</if>
		<if test="item_num3 != null and item_num3 != ''">
			,item_num3
		</if>)
		VALUES(
		style_seq.nextval,
		#{st_phrase},
		#{st_photo1n},
		<if test="st_photo2n != null and st_photo2n != ''">
			#{st_photo2n},
		</if>
		<if test="st_photo3n != null and st_photo3n != ''">
			#{st_photo3n},
		</if>
		<if test="st_photo4n != null and st_photo4n != ''">
			#{st_photo4n},
		</if>
		#{st_photo1},
		<if test="st_photo2 != null and st_photo2 != ''">
			#{st_photo2},
		</if>
		<if test="st_photo3 != null and st_photo3 != ''">
			#{st_photo3},
		</if>
		<if test="st_photo4 != null and st_photo4 != ''">
			#{st_photo4},
		</if>
		#{mem_num}
		<if test="item_num1 != null and item_num1 != ''">
			,#{item_num1}
		</if>
		<if test="item_num2 != null and item_num2 != ''">
			,#{item_num2}
		</if>
		<if test="item_num3 != null and item_num3 != ''">
			,#{item_num3}
		</if>)
	</insert>
	
	<!-- 스타일 목록 -->
	<sql id="styleSearch">
		<where>
			s.st_hide = 0
			<if test="keyword != null and keyword != ''">
					AND m.mem_id LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 레코드수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM style s 
		LEFT OUTER JOIN member m ON s.mem_num = m.mem_num 
		LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num
		<include refid="styleSearch"></include>
	</select>
	
	<sql id="styleOrder">
		<if test="order == 1"><!-- 최신순 조회 -->
			ORDER BY s.st_regdate DESC
		</if>
		<if test="order == 2"><!-- 좋아요순 조회 -->
			ORDER BY s.fav_cnt DESC
		</if>
	</sql>
	
	<!-- 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="styleVO">
		SELECT * FROM (SELECT a.*, rownum rnum FROM
		(SELECT st_num,
		<![CDATA[
		REPLACE(REPLACE(st_phrase, '<', '&lt;'), '>', '&gt;') st_phrase,
		]]>
		s.st_photo1n, s.st_photo2n, s.st_photo3n, s.mem_num, s.st_regdate, 
		s.st_mdate, s.item_num1, s.item_num2, s.item_num3, s.st_hide, m.mem_id, d.mem_photo
		FROM style s LEFT OUTER JOIN member m ON s.mem_num = m.mem_num 
		LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num 
		<include refid="styleSearch"></include>
		<include refid="styleOrder"></include>
		)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 스타일 상세 -->
	<select id="selectStyle" parameterType="integer">
		SELECT 
		s.st_num, s.st_phrase,
		s.st_photo1n, s.st_photo2n, s.st_photo3n, s.st_photo4n,
		s.st_photo1, s.st_photo2, s.st_photo3, s.st_photo4,
		s.st_regdate, s.st_mdate, s.mem_num, m.mem_id, d.mem_photo, d.mem_photo_name,
		i1.item_num item_num1, i1.item_name item_name1, i1.item_photo1 item_photo1_1, i1.item_photo1name item_photo1name_1,
		i2.item_num item_num2, i2.item_name item_name2, i2.item_photo1 item_photo1_2, i2.item_photo1name item_photo1name_2,
		i3.item_num item_num3, i3.item_name item_name3, i3.item_photo1 item_photo1_3, i3.item_photo1name item_photo1name_3
		FROM style s 
		LEFT OUTER JOIN member m ON s.mem_num = m.mem_num 
		LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num
		LEFT OUTER JOIN item i1 ON s.item_num1 = i1.item_num
		LEFT OUTER JOIN item i2 ON s.item_num2 = i2.item_num
		LEFT OUTER JOIN item i3 ON s.item_num3 = i3.item_num
		WHERE s.st_num=#{st_num}
	</select>
	
	<!-- 스타일 수정 -->
	<update id="updateStyle" parameterType="styleVO">
		UPDATE style SET
		st_phrase=#{st_phrase},
		st_mdate=sysdate
		<if test="item_num1 != null and item_num1 != ''">
			,item_num1=#{item_num1}
		</if>
		<if test="item_num1 == 0">
			,item_num1=null
		</if>
		<if test="item_num2 != null and item_num2 != ''">
			,item_num2=#{item_num2}
		</if>
		<if test="item_num2 == 0">
			,item_num2=null
		</if>
		<if test="item_num3 != null and item_num3 != ''">
			,item_num3=#{item_num3}
		</if>
		<if test="item_num3 == 0">
			,item_num3=null
		</if>
		WHERE st_num=#{st_num}
	</update>
	
	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="styleCommentVO">
		INSERT INTO style_comment(
		  com_num,
		  com_comment,
		  mem_num,
		  st_num)
		VALUES (
		  style_comment_seq.nextval,
		  #{com_comment},
		  #{mem_num},
		  #{st_num})  
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="selectListComment" parameterType="map" resultType="styleCommentVO">
		SELECT * FROM (SELECT a.*, rownum rnum FROM (SELECT s.com_num,
		            s.com_comment, s.com_regdate, s.com_mdate, s.mem_num, s.st_num, m.mem_id, d.mem_photo_name, d.mem_photo
		            FROM style_comment s
		            LEFT OUTER JOIN member m ON s.mem_num = m.mem_num
		            LEFT OUTER JOIN member_detail d ON m.mem_num = d.mem_num
		            WHERE s.st_num=#{st_num} AND s.com_hide = 0 ORDER BY s.com_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>          
	</select>
</mapper>