<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.promotion.dao.PromotionMapper">
	<!-- 프로모션 등록 -->
	<insert id="insertPromotion">
		INSERT INTO promotion(
		  pro_num,
		  pro_name,
		  pro_content,
		  pro_photo1,
		  pro_photoName1,
		  pro_openDate,
		  pro_cloDate,
		  pro_ing,
		  pro_hide) 
		VALUES (
		  promotion_seq.nextval,
		  #{pro_name},
		  #{pro_content},
		  #{pro_photo1},
		  #{pro_photoName1},
		  #{pro_openDate},
		  #{pro_cloDate},
		  #{pro_ing},
		  #{pro_hide})
	</insert>
	
	<!-- 프로모션 목록 -->
	<sql id="promotionSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					pro_name LIKE '%' || #{keyword} || '%' OR
					pro_content LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					pro_name LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					pro_content LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<select id="selectList" parameterType="map" resultType="promotionVO">
		SELECT
		  *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (SELECT
		              *
		            FROM promotion
		            <include refid="promotionSearch"></include>
		            ORDER BY pro_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT 
		  COUNT(*)
		FROM promotion
		<include refid="promotionSearch"></include>
	</select>
	
	<update id="updatePromotion" parameterType="promotionVO">
		UPDATE
		  promotion
		SET 
		  pro_name = #{pro_name},
		  pro_content = #{pro_content},
		  <if test="pro_photo1.length>0">
		  pro_photo1 = #{pro_photo1},
		  pro_photoName1 = #{pro_photoName1},
		  </if>
		  pro_openDate = #{pro_openDate},
		  pro_cloDate = #{pro_cloDate},
		  pro_ing = #{pro_ing},
		  pro_hide = #{pro_hide}
		WHERE
		  pro_num = #{pro_num}
	</update>
</mapper>