<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.fleaMarket.dao.BookingMapper">
	<resultMap type="marketVO" id="marketMap">
		<result property="marketVO.market_startDate" column="market_startDate"/>
		<result property="marketVO.market_endDate" column="market_endDate"/>
		<result property="marketVO.booth_count" column="booth_count"/>
	</resultMap>
	<insert id="insertBooking" parameterType="bookingVO"> 
		INSERT INTO booking(
		  book_num,
		  book_date1,
		  book_date2,
		  get_count,
		  market_num,
		  mem_num)
		VALUES(
		  booking_seq.nextval,
		  #{book_date1},
		  #{book_date2},
		  #{get_count},
		  #{market_num},
		  #{mem_num})
	</insert>
	
	<!-- 관리자 - 예약 목록 -->
	<sql id="bookingSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyword == 1">
					m.market_title LIKE '%' || #{keyword} || '%' OR
					mem.mem_id LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyword == 2">
					m.market_title LIKE '%' || #{keyword} || '%' 
				</if>
				<if test="keyword == 3">
					mem.mem_id LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 레코드 수 --><!-- **** -->
	<select id="selectCountBooking" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM market m JOIN booking b 
		ON m.market_num = b.market_num
		JOIN member mem ON mem.mem_id 
		<include refid="bookingSearch"></include>
	</select>
	
	<!-- 전체/검색 목록 --><!-- **** -->
	<select id="selectListBooking" parameterType="map" resultType="bookingVO">
		SELECT
		  *
		FROM (SELECT
		         a.*,
		         rownum rnum
		      FROM (SELECT
		              b.book_num,
		              mem.mem_id,
		              b.book_regDate,
		              m.market_title,
		              b.get_count
		            FROM booking b
		            JOIN market m
		            ON b.market_num = m.market_num
		            LEFT OUTER JOIN (SELECT COUNT(*) FROM member)mem ON b.mem_num = mem.mem_num
		            <include refid="bookingSearch"></include>
		            )a)
	</select>
</mapper>