<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.fleaMarket.dao.MarketMapper">
	<!-- 마켓 등록 -->
	<insert id="insertMarket" parameterType="marketVO">
		INSERT INTO market (
			market_num,
			market_title,
			market_detail,
			market_startDate,
			market_endDate,
			place_name,
			market_type,
			booth_count,
			user_count,
			booth_fee,
			market_poster,
			market_posterName,
			market_thumbNail,
			market_thumbNailName)
		VALUES (
			market_seq.nextval,
			#{market_title},
			#{market_detail},
			#{market_startDate},
			#{market_endDate},
			#{place_name},
			#{market_type},
			#{booth_count},
			#{user_count},
			#{booth_fee},
			#{market_poster},
			#{market_posterName},
			#{market_thumbNail},
			#{market_thumbNailName})
	</insert>
	
	<!-- 목록 리스트와 검색용 -->
	<sql id="marketSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					market_title LIKE '%' || #{keyword} || '%' OR market_detail LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					market_title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					market_detail LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 레코드 수 --> 
	<select id="selectCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM market
		<include refid="marketSearch"></include>
	</select>
	
	<!-- 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="marketVO">
		SELECT
		  *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (SELECT
		              *
		            FROM market
		            <include refid="marketSearch"></include>
		            ORDER BY market_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 부스 수정 -->
	<update id="updateMarket" parameterType="marketVO">
		UPDATE 
		  market 
		SET 
		  market_title = #{market_title}, 
		  market_detail = #{market_detail}, 
		  market_startDate = #{market_startDate},
		  market_endDate = #{market_endDate},
		  place_name = #{place_name}, 
		  booth_count = #{booth_count}, 
		  user_count = #{user_count}, 
		  booth_fee = #{booth_fee}, 
		  market_updateDate = sysdate 
	    WHERE 
	      market_num = #{market_num}
	</update>
</mapper>